body{
  margin:0;
  font-family:Segoe UI;
  background:#eef2f7;
}

/* NAVBAR */
nav{
  background:#1e3a8a;
  color:white;
  padding:15px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

nav button{
  background:#ef4444;
  border:none;
  color:white;
  padding:8px 15px;
  border-radius:6px;
}

/* CONTAINER */
.container{
  width:90%;
  max-width:900px;
  margin:30px auto;
}

/* INPUTS */
input{
  padding:10px;
  margin:8px 5px;
  border-radius:6px;
  border:1px solid #ccc;
}

button{
  padding:10px 15px;
  border:none;
  background:#2563eb;
  color:white;
  border-radius:6px;
  cursor:pointer;
}

/* CARDS */
.card{
  background:white;
  padding:15px;
  margin:10px 0;
  border-radius:10px;
  box-shadow:0 3px 8px rgba(0,0,0,0.1);
}

.card h4{
  margin:0;
  color:#1e3a8a;
}

.card button{
  margin-top:10px;
}

/* LOGIN FORM */
.form-container{
  width:320px;
  margin:120px auto;
  background:white;
  padding:25px;
  border-radius:10px;
  text-align:center;
  box-shadow:0 3px 10px rgba(0,0,0,0.1);
}
